* {
    margin: 0px;
    padding: 0px;
    max-height: 100vh;
}

button {
    width: 100px;
    height: 100px;
}

.rightSideSketchZone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 600px;
}

.rightSideSketchZone div {
    border: 1px solid black;
    box-sizing: border-box;
}


