* {
    margin: 0px;
    max-height: 100vh;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e6e6e6;
}

button {
    width: 100px;
    height: 40px;
    box-shadow: 5px 5px 5px;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: #e6e6e6;
}

.header, 
.footer {
    width: 100%;
    padding: 10px
}

.overallApp {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 95vh;
    width: 100%;
}

.leftSideUserInputs {
    width: 400px;
    height: 100%;
}

.rightSideSketchZone {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    order: 1;
    border: 5px solid black;
    box-sizing: content-box;
    align-self: center;
    margin-right: 395px;
    flex: none;
}

.rightSideSketchZone div {
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 10px 10px;
}

.leftSideUserInputs div {
    height: 100%;
    width: 100%;
}

.upSideDrawMode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upSideDrawMode p {
    font-weight: bold;
}

.downSideSketchSize {
    background-color: gray;
}

.header {
    font-size: 40px;
}

.footer {
    background-color: black;
    color: #e6e6e6;
    text-emphasis: bold;
    font-size: large;
}